@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.admin__header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.admin__header > h1 {
    font-family: 'Permanent Marker', cursive;

}