.episode{
    display: flex;
    flex-direction: column;
    flex:0.8;
    background-color: #E7EBEE;
}
.epibody{
    display: flex;
    flex-direction: column;
    background-color: #E7EBEE;
    width: 100%;
}

.episode >  .epibody > h2{
    margin: 10px 20px;
    font-family: 'Staatliches', cursive;
}
.episode > .epibody > .ditails{
    display: flex;
    margin-top: 20px;
    margin-left: 10%;
    align-items: baseline;
    flex-direction: column;
}
.episode > .epibody > .ditails > .albumName__Container  > .episbtn{
    margin-top: 45px;
    margin-left: 25%;
}
.albumName__Container{
    display:flex;
    width: 100%;
}
.episode > .epibody > .ditails > .albumName__Container > .epibtn{
    width:20%;
    height: 40px;
    color:White;
    background-color: #8EBEF5;
    border:none;
    border-radius: 5px;
    font-family:'Staatliches', cursive;
    cursor: pointer;

}
.episode > .epibody > .ditails > .albumName__Container >h3{
    width:fit-content;
    margin-left: 30px;
    color:rgb(61, 60, 60);
}
.ChooseAlbum_container{
    display: flex;
    align-items: center;
}
.ChooseAlbum_container > .MuiButtonBase-root{
    margin: 5%;
    color:red;
}